.order table.list {
    width:60%;
}
.order table.list thead {
    display: table;
    float: left;
    width: 60%;
}
.order table.list thead th {
    text-align: center;
}
.order table.list tbody {
    float: left;
    width: 60%;
}
.order table.list tbody tr {
    display: table;
    width: 60%;
}
.order table.list th, td {
    width: 25%;
}