*{
  margin: 0;
  padding: 0;
}

.order table.list th, td {
  width: 3%;
}
.order tr.d0 td {
  background-color: #CC9999;
  color: black;
}
.order tr.d1 td {
  background-color: #9999CC;
  color: black;
}

.OrdersBtn {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.146);
  gap: 30rem;
}

button {
  border-radius: 0.2rem;
  border-color: rgba(0, 0, 0, 0.292);
  background-color: white;
  color: rgba(0, 0, 0, 0.523);
  padding: 0.25rem;
  font-size: 11px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.btn1 {
  border-radius: 0.2rem 0 0.2rem 0.2rem;
}
