* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}

.header {
  width: 100vw;
  /* height: 20%; */
}

.company {
  background-color: #555353;
  color: #fff;
  width: 20%;
  /* padding: 0.5rem; */
  float: left;
  height: 2rem;
}

.search-bar {
  outline: none;
  border: none;
  display: inline;
  float: left;
  background-color: #8f8c8c;
  width: 70%;
  padding-top: 0.3rem;
  height: 2rem;
}

.out-btn {
  float: right;
  outline: none;
  width: 10%;
  background-color: #555353;
  color: #8f8c8c;
  /* padding: 0.50rem; */
  cursor: pointer;
  height: 2rem;
}

li {
  padding: 0.35rem;
  background-color: #ece9e9;
  width: 100%;
}
.icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.4rem;
}

/* #calender {

} */

#save {
  margin-left: 5rem;
}

.order table.list th,
td {
  width: 3%;
}

.order tr.d0 td {
  /* background-color: #cc9999; */
  color: black;
}

.order tr.d1 td {
  background-color: #9999cc;
  color: black;
}

.OrdersBtn {
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.146); */
  gap: 30rem;
  justify-content: space-between;
  margin: 1rem;
}

button {
  border-radius: 0.2rem;
  border-color: rgba(0, 0, 0, 0.292);
  background-color: white;
  color: rgba(0, 0, 0, 0.523);
  padding: 0.25rem;
  font-size: 11px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* justify-content: right; */
  /* align-items: end; */
}

.btn1 {
  border-radius: 0.2rem 0 0.2rem 0.2rem;
}

.section2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
}

.nav {
  width: 19.23rem;
  /* display: flex; */
}

.ul-1 {
  width: 100%;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

tr:nth-child(even) {
  background-color: rgb(175, 177, 175);
}
